<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tumour Treatment Optimisation - Web App For Doctors</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'index' %}">Tumour Treatment Optimisation - Web App For Doctors</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_staff %}
                        <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a class="navbar-link" href="{% url 'user_profile' user.username %}">{{ user.username }}</a></li>
                        <li><a class="navbar-link" href="{% url 'user_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class="navbar-link" href="{% url 'user_register' %}">Register</a></li>
                        <li><a class="navbar-link" href="{% url 'user_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>