{% extends "OLN_application/base.html" %}
{% load static %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            {% if registered %}
                <h3>Registered. Log in.</h3>
            {% else %}
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <table class="table">
                        {{ user_form.as_table }}
                        {{ profile_form.as_table }}
                    </table>
                    <input type="submit" name="" value="Register">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}