{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load guardian_tags %}
{% block head_title %}Protocols{% endblock %}
{% block body_block %}
    <script src="{% static 'js/chart/Chart.min.js' %}"></script>
    <div class="card-columns">
        {% for pd in protocol_data %}
            <div class="card px-3 py-3" style="width: 18rem;">
                <canvas class="card-img-top bg-light border px-3 py-3" id="{{ forloop.counter0 }}_graph"></canvas>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ pd.protocol.name }}
                    </h5>
                    <p class="card-text">
                        {{ pd.protocol.dose.count }} doses<br/>
                        {{ pd.total_radiation_intake }} total radiation intake
                        <p class="text-muted">
                            Created by
                            <a href="{% url 'profile_view' pd.protocol.author.username %}">
                                {% if pd.protocol.author.user_profile.full_name and pd.protocol.author.user_profile.full_name != "" %}
                                    <strong>{{pd.protocol.author.user_profile.full_name}}</strong>
                                {% else %}
                                    @{{ pd.protocol.author.username }}
                                {% endif %}
                            </a>
                        </p>
                    </p>
                    {% get_obj_perms request.user for pd.protocol as "protocol_perms" %}
                    {% if "view_protocol" in protocol_perms or pd.protocol.author.username == request.user.username %}
                        <a href="{% url 'protocol_view' pd.protocol.id %}" class="btn btn-secondary btn-block">View</a>
                    {% else %}
                        <a href="{% url 'protocol_view' pd.protocol.id %}" class="btn btn-secondary btn-block disabled" aria-disabled="true">View</a>
                    {% endif %}
                    {% if "edit_protocol" in protocol_perms or pd.protocol.author.username == request.user.username %}
                        <a href="{% url 'protocol_edit' pd.protocol.id %}" class="btn btn-secondary btn-block">Edit</a>
                    {% else %}
                        <a href="{% url 'protocol_edit' pd.protocol.id %}" class="btn btn-secondary btn-block disabled" aria-disabled="true">Edit</a>
                    {% endif %}
                </div>
            </div>
            <script type="text/javascript">
                var ctx = document.getElementById('{{ forloop.counter0 }}_graph').getContext('2d');
                var labels = [];
                var data = [];
                {% for dose in pd.doses %}
                    labels.push({{ dose.time }});
                    data.push({{ dose.dose }});
                {% endfor %}
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Radiation intake',
                            data: data,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        {% empty %}
        You have no access to any protocols. <a href="{% url 'protocol_create' %}">Create one</a>.
        {% endfor %}
    </div>
{% endblock %}