{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load guardian_tags %}
{% block head_title %}Protocols{% endblock %}
{% block body_block %}
    <script src="{% static 'js/chart/Chart.min.js' %}"></script>
    <script src="{% static 'js/tss/protocols.js' %}"></script>
    <div class="card-columns">
        {% for pd in protocol_data %}
            <div class="card px-3 py-3" style="width: 18rem;">
                <script type="text/javascript">
                    var labels = [];
                    var data = [];
                    var t, days, hours, minutes, timestring;
                    {% for dose in pd.doses %}
                        t = {{ dose.time }} * {{ pd.time_step }};
                        days = Math.floor(t / (24 * 60));
                        hours = Math.floor((t % (24 * 60)) / 60);
                        minutes = t % 60;
                        timestring = ((hours < 10)?("0"):("")) + hours + ":" + ((minutes < 10)?("0"):("")) + minutes + ", day " + days;
                        labels.push(timestring);
                        data.push({{ dose.dose }});
                    {% endfor %}
                    draw_protocol_chart("card-img-top bg-light border px-3 py-3", labels, data);
                </script>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ pd.protocol.name }}
                    </h5>
                    <p class="card-text">
                        <strong>{{ pd.protocol.dose.count }}</strong> {% if pd.protocol.dose.count == 1 %}dose{% else %}doses{% endif %}<br/>
                        <strong>{{ pd.total_radiation_intake }} Gy</strong> total radiation intake
                        <p class="text-muted">
                            Created by
                            <a href="{% url 'profile_view' pd.protocol.author.username %}">
                                {% if pd.protocol.author.user_profile.full_name and pd.protocol.author.user_profile.full_name != "" %}
                                    <strong>{{pd.protocol.author.user_profile.full_name}}</strong>
                                {% else %}
                                    @{{ pd.protocol.author.username }}
                                {% endif %}
                            </a>
                        </p>
                    </p>
                    {% get_obj_perms request.user for pd.protocol as "protocol_perms" %}
                    {% if "view_protocol" in protocol_perms or pd.protocol.author.username == request.user.username %}
                        <a href="{% url 'protocol_view' pd.protocol.id %}" class="btn btn-secondary btn-block">View</a>
                    {% else %}
                        <a href="{% url 'protocol_view' pd.protocol.id %}" class="btn btn-secondary btn-block disabled" aria-disabled="true">View</a>
                    {% endif %}
                    {% if "change_protocol" in protocol_perms or pd.protocol.author.username == request.user.username %}
                        <a href="{% url 'protocol_edit' pd.protocol.id %}" class="btn btn-secondary btn-block">Edit</a>
                    {% else %}
                        <a href="{% url 'protocol_edit' pd.protocol.id %}" class="btn btn-secondary btn-block disabled" aria-disabled="true">Edit</a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
        You have no access to any protocols. <a href="{% url 'protocol_create' %}">Create one</a>.
        {% endfor %}
    </div>
{% endblock %}