{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load guardian_tags %}
{% block head_title %}{{ pd.protocol.name }}{% endblock %}
{% block body_block %}
    <script src="{% static 'js/chart/Chart.min.js' %}"></script>
    <div class="card">
        <h5 class="card-header text-center">
            {{ pd.protocol.name }}
        </h5>
        <div class="card-body">
            <canvas class="card-img-top bg-light border px-3 py-3 mb-3" id="protocol_graph"></canvas>
            <table class="table">
                <tr>
                    <td>
                        <p class="card-text">
                            Number of doses:
                        </p>
                    </td>
                    <td>
                        <p class="card-text">
                            {{ pd.protocol.dose.count }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="card-text">
                            Total radiation intake:
                        </p>
                    </td>
                    <td>
                        <p class="card-text">
                            {{ pd.total_radiation_intake }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="card-text">
                            Author:
                        </p>
                    </td>
                    <td>
                        <p class="card-text">
                            <a href="{% url 'profile_view' pd.protocol.author.username %}">
                                {% if pd.protocol.author.user_profile.full_name and pd.protocol.author.user_profile.full_name != "" %}
                                    <strong>{{pd.protocol.author.user_profile.full_name}}</strong>
                                {% else %}
                                    @{{ pd.protocol.author.username }}
                                {% endif %}
                            </a>
                        </p>
                    </td>
                </tr>
            </table>
            {% get_obj_perms request.user for pd.protocol as "protocol_perms" %}
            {% if "edit_protocol" in protocol_perms or pd.protocol.author.username == request.user.username %}
                <a href="{% url 'protocol_edit' pd.protocol.id %}" class="btn btn-secondary btn-block">Edit</a>
            {% else %}
                <a href="{% url 'protocol_edit' pd.protocol.id %}" class="btn btn-secondary btn-block disabled" aria-disabled="true">Edit</a>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        var ctx = document.getElementById('protocol_graph').getContext('2d');
        var labels = [];
        var data = [];
        {% for dose in pd.doses %}
            labels.push({{ dose.time }});
            data.push({{ dose.dose }});
        {% endfor %}
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Radiation intake',
                    data: data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}