<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/chart/Chart.min.css' %}">
        <title>{% block head_title_base %}{% block head_title %}{% endblock %} - {{ SITE_TITLE }}{% endblock %}</title>
    </head>
    <body class="bg-light small" style="padding-top: 70px">
        <nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark py-1 my-0">
            <a class="navbar-brand text-secondary" href="{% url 'home' %}">
                {{ SITE_TITLE }}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse py-0 my-0" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link btn btn-sm bg-dark dropdown-toggle font-weight-bold py-0 px-1 mx-1" href="#" id="simulationsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Simulations
                            </a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item small" href="{% url 'simulation_dashboard' %}">
                                    Your simulations
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link btn btn-sm bg-dark dropdown-toggle font-weight-bold py-0 px-1 mx-1" href="#" id="protocolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Protocols
                            </a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item small" href="{% url 'protocol_dashboard' %}">
                                    Your protocols
                                </a>
                                <a class="dropdown-item small" href="{% url 'protocol_create' %}">
                                    New protocol
                                </a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav my-0">
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm bg-dark py-0 px-1 mx-1" href="{% url 'admin:index' %}">
                                <img class="bi bi-tools" src="{% static 'icons/tools.svg' %}" fill="#fff" alt="" width="20" height="20">
                            </a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link btn btn-sm bg-dark dropdown-toggle py-0 px-1 mx-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img style="margin-right:-6px" src="{{ user.user_profile.avatar.url }}" alt="" width="20" height="20">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item small" href="{% url 'profile_view' user.username %}">
                                    {% if user.user_profile.full_name and user.user_profile.full_name != "" %}
                                        <strong>{{user.user_profile.full_name}}</strong> <br/>
                                    {% endif %}
                                    @{{ user.username }}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item small" href="{% url 'profile_edit' %}">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item small" href="{% url 'logout' %}">Sign out</a>
                            </div>
                        </li>
                    {% else %}
                        <li><a class="nav-link btn-sm bg-dark small py-0 px-1 my-0 mx-1" href="{% url 'login' %}">Sign in</a></li>
                        <li><a class="nav-link btn-sm bg-dark small py-0 px-1 my-0 mx-1" href="{% url 'register' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>
        <script src="{% static 'js/jquery/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/popper/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    </body>
</html>